* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  font-size: 16px;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

h1 {
  font-size: 2rem;
  margin: .5em 0 1em 0;
  text-align: center;
}

h2 {
  margin: 1em 0 0.75em 0;
}

ol li {
  line-height: 1.2em;
}

.container {
  margin: 0 2em;
}

a.home {
  position: absolute;
  top: 5px;
  left: 10px;
}

a {
  color: #06c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 90%;
}
