* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  font-size: 16px;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

h1 {
  font-size: 2.5rem;
  margin: .5em 0 1em 0;
  text-align: center;
}

ol li {
  line-height: 1.2em;
}

.container {
  margin: 0 2em;
}

footer {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 90%;
}
